<!doctype html>
<html lang="en-gb">
    <head>
        <base href="http://local-rss.appshed.com" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Login/My Apps</title>
        <link rel="stylesheet" href="css/bundle.css">
        <link href="http://home.appshed.com/components/com_appbuilder/assets/compressed/css/html-fake.css" rel="stylesheet">
    </head>
    <body>
        <div style="padding: 50px">
            
        {{form(configForm)}}
        </div>

    </body>
</html>