<!doctype html>
<html lang="en-gb">
    <head>
        <base href="{{ app.request.getSchemeAndHttpHost() }}" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Login/My Apps</title>
        <link rel="stylesheet" href="css/bundle.css">
        <style>
            .form-group {
                margin-bottom: 8px;
            }

            .checkbox, .radio {
                position: relative;
                display: block;
                margin-top: 3px;
                margin-bottom: 3px;
            }
        </style>
    </head>
    <body>
        <div style="padding: 10px">
            {{form(configForm)}}
        </div>

    </body>
</html>